.banner{
    background-image: linear-gradient(100deg, #040405, #00000020 ), url(../assets/img/russian.png);
    height: 60rem;
    background-size: cover;
    background-position: center;
    .content-banner{
        max-width: 90rem;
        margin: 0 auto;
        padding: 25rem 0;
        p{
            font-family: "Poppins", sans-serif;
            color: rgb(116, 116, 240);
            font-size: 2rem; 
            margin-bottom: 1rem;
            font-weight: $fontWeight;
        }
        h2{
            font-family: "Poppins", sans-serif;
            color: white;
            font-size: 3.5rem;
            font-weight: $fontWeight;
            line-height: 1.2;
        }
        a{
            font-family: "Poppins", sans-serif;
            margin-top: 2rem;
            text-decoration: none;
            color: white;
            background-color: black;
            display: inline-block;
            padding: 1rem 3rem;
            text-transform: uppercase;
            border-radius: 3rem;
        }
    }
}

.main-content{
    background-color: $backgroundPrimary;
    .container-categories{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 3rem;
        margin: 6rem;
        margin-left: 14%;
            .card-categories{
                padding: 5px;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 2rem;
                .fa-code{
                    font-size: $fontSize;
                }
                .fa-video{
                    font-size: $fontSize;
                }
                .fa-codepen{
                    font-size: $fontSize;
                }
                .content-categories{
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    p{
                        font-family: "Poppins", sans-serif;;
                        font-size: 1.7rem;
                        color: black;
                        text-transform: capitalize;
                        position: relative;
                        padding: 10px;
                    }
                    span{
                        font-family: "Poppins", sans-serif;
                        font-size: 2.5rem;
                        color: $colorPrimary;
                    }
                }
            }
        }
    }
    .galeria{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2,30rem);
        gap: 1.5rem;
        margin: 2rem;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .galeria-imagen-4{
            grid-column: 2/4;
            grid-row: 1/3;
        }
    }
    #carouselExampleDark{
        max-width: 300px;
        max-height: 300px;
        margin-left: 40%;
        margin-bottom: 20%;
        .carousel-caption{
            background-color: green;
            border-radius: 10px;
            .adquirir{
                margin: 0 auto;
                text-decoration: none;
                color: white;
                font-size: $fontSize;
            }
        }    
    }





.container-products{
    margin: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    .products{
        width: 350px;
        height: 500px;
        border-radius: 5px;
    }
    .buy{
        display: flex;
        justify-content: space-between;
        background-color: green;
        color: white;
        border-radius: 5px;
        cursor: pointer;
        .buy-text{
            font-family: "Poppins", sans-serif;
            font-size: 2rem;
            padding: 5px;
        }
    }
}





.us-container{
    margin-bottom: 40px;
    margin-top: 40px;
    .descriptions{
        font-family: "Poppins", sans-serif;
        font-size: 1.5rem;
        line-height: 1.5;
    }
}





.container-form{
    width: 500px;
    background-color: $backgroundPrimary;
    border: darkblue solid 2px;
    border-radius: 5px;
    padding: 30px;
    margin: 0 auto;
    .controls{
        width: 100%;
        background-color: whitesmoke;
        padding: 10px;
        margin-bottom: 16px;
        border-radius: 6px;
        font-size: 1.5rem;
        border: darkblue solid .05px;
    }
    .button{
        width: 100%;
        background: rgb(2, 2, 83);
        padding: 12px;
        border: none;
        color: white;
        font-size: 16px;
    }
}


.container-designs{
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}
.tamano400{
    width: 400px;
    height: 400px;
}
.content-designs{
    justify-content: center;
    width: 400px;
    height: 100px;
    font-size: 1.5rem;
    line-height: 1.5;
}