*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    font-family: "Poppins", sans-serif;
}
.container{
    max-width: 120rem;
    margin: 0 auto;
}
.heading-1{
    font-family: "Poppins", sans-serif;
    text-align: center;
    font-weight: 500;
    font-size: 3rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: darkblue;
}
.heading-2{
    font-family: "Poppins", sans-serif;
    text-align: left;
    font-size: 2.5rem;
    color: darkblue;
    padding-top: 20px;
}
.heading-3{
    font-family: "Poppins", sans-serif;
    text-align: left;
    font-size: 1.7rem;
    color: darkblue;
    padding-top: 15px;
}

